.app {
  width: 100vw;
}

.header {
  background-image: url("../../scss/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 250px;
}

.container {
  max-width: 80%;
  margin: auto;
  position: relative;
}
